<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ta.orderby.motocycle.model.mapper.MotocycleMapper">
	<resultMap type="Motocycle" id="motocycleResultMap">
		<id property="no" column="MC_NO"/>
		<result property="name" column="MC_NAME" />
		<result property="brand" column="MC_BRAND" />
		<result property="engine" column="MC_ENGINE" />
		<result property="cc" column="MC_CC" />
		<result property="output" column="MC_OUTPUT" />
		<result property="torque" column="MC_TORQUE" />
		<result property="fuel" column="MC_FUEL" />
		<result property="year" column="MC_YEAR" />
		<result property="km" column="MC_KM" />
		<result property="price" column="MC_PRICE" />
		<result property="position" column="MC_POSITION" />
		<result property="status" column="MC_STATUS" />
		<result property="sale" column="MC_SALE" />
		<result property="storeNo" column="S_NO" />
		<result property="count" column="MC_COUNT" />
		<result property="enrollDate" column="MC_ENROLL_DATE" />
		<result property="productNo" column="PF_NO" />
	</resultMap>
	
	<select id="findMotocycleByName" parameterType="string" resultMap="motocycleResultMap">
		SELECT 
		    MC_NO,
		    MC_NAME,
		    MC_BRAND,
		    MC_ENGINE,
		    MC_CC,
		    MC_OUTPUT,
		    MC_TORQUE,
		    MC_FUEL,
		    MC_YEAR,
		    MC_KM,
		    MC_PRICE,
		    MC_POSITION,
		    MC_STATUS,
		    MC_SALE,
		    S_NO,
		    MC_COUNT,
		    MC_ENROLL_DATE,
		    PF_NO
		FROM MOTOCYCLE
		WHERE MC_NAME = #{name}
	</select>
	
	<select id="findMotocycleBySale" resultMap="motocycleResultMap">
		SELECT 
		    MC_NO,
		    MC_NAME,
		    MC_BRAND,
		    MC_ENGINE,
		    MC_CC,
		    MC_OUTPUT,
		    MC_TORQUE,
		    MC_FUEL,
		    MC_YEAR,
		    MC_KM,
		    MC_PRICE,
		    MC_POSITION,
		    MC_STATUS,
		    MC_SALE,
		    S_NO,
		    MC_COUNT,
		    MC_ENROLL_DATE,
		    PF_NO
		FROM MOTOCYCLE
		WHERE MC_SALE = 'S'
	</select>
	
	<select id="findMotocycleByNo" parameterType="_int" resultMap="motocycleResultMap">
		SELECT 
		    MC_NO,
		    MC_NAME,
		    MC_BRAND,
		    MC_ENGINE,
		    MC_CC,
		    MC_OUTPUT,
		    MC_TORQUE,
		    MC_FUEL,
		    MC_YEAR,
		    MC_KM,
		    MC_PRICE,
		    MC_POSITION,
		    MC_STATUS,
		    MC_SALE,
		    S_NO,
		    MC_COUNT,
		    MC_ENROLL_DATE,
		    PF_NO
		FROM MOTOCYCLE
		WHERE MC_NO = #{motocycleNo}
	</select>
	
</mapper>