<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ta.orderby.payment.model.mapper.PaymentMapper">

	<resultMap id="couponResultMap" type="Coupon" >
		<id property="ciNumber" column="CI_NUMBER"/>
		<result property="coNumber" column="CO_NUMBER" />
		<result property="memberNo" column="M_NO" />
		<result property="coStatus" column="CO_STATUS" />
		<result property="ciStatus" column="CI_STATUS" />
		<result property="regiDate" column="CI_REGI" />
		<result property="name" column="CO_NAME" />
		<result property="percent" column="CO_PERCENT" />
		<result property="createDate" column="CO_CDATE" />
		<result property="period" column="CO_PERIOD" />
	</resultMap>
	
	<resultMap type="Payment" id="paymentResultMap">
		<id property="no" column="P_NO" />
		<result property="uid" column="P_UID" />
		<result property="productName" column="P_NAME" />
		<result property="method" column="P_METHOD" />
		<result property="date" column="P_DATE" />
		<result property="totPrice" column="P_TOT_PRICE" />
		<result property="finPrice" column="P_FIN_PRICE" />
		<result property="status" column="P_STATUS" />
		<result property="memberNo" column="M_NO" />
		<result property="carNo" column="C_NO" />
		<result property="motocycleNo" column="MC_NO" />
		<result property="name" column="P_NAME" />
	</resultMap>

	<resultMap type="Reservation" id="reservationResultMap">
		<id property="no" column="R_NO" />
		<result property="rentdate" column="RENT_DATE" />	
		<result property="returndate" column="RETURN_DATE" />	
		<result property="sno" column="S_NO" />	
		<result property="cno" column="C_NO" />	
		<result property="mcno" column="MC_NO" />	
		<result property="status" column="R_STATUS" />	
		<result property="puid" column="P_UID" />	
		<result property="mno" column="M_NO" />	
	</resultMap>
	
	<select id="findCouponByMemberNo" parameterType="_int" resultMap="couponResultMap">
		SELECT 
		    I.CI_NUMBER,
		    C.CO_NUMBER,
		    I.M_NO,
		    C.CO_STATUS,
		    I.CI_STATUS,
		    I.CI_REGI,
		    C.CO_NAME,
		    C.CO_PERCENT,
		    C.CO_CDATE,
		    C.CO_PERIOD
		FROM COUPON_ISSUE I
		JOIN COUPON C ON (I.CO_NUMBER = C.CO_NUMBER)
		WHERE I.M_NO = #{memberNo}
	</select>
	
	<insert id="insertPayment" parameterType="Payment">
		INSERT INTO PAYMENT(
		    P_NO,
		    P_UID,
		    P_NAME,
		    P_METHOD,
		    P_DATE,
		    P_TOT_PRICE,
		    P_FIN_PRICE,
		    P_STATUS,
		    M_NO,
		    C_NO,
		    MC_NO
		) VALUES (
		    SEQ_PAYMENT_P_NO.NEXTVAL,
		    #{uid},
		    #{productName},
		    #{method},
		    SYSDATE,
		    #{totPrice},
		    #{finPrice},
		    'Y',
		    #{memberNo},
			<choose>
				<when test="carNo != 0">
					#{carNo},
				</when>
				<when test="carNo == 0">
					NULL,
				</when>
			</choose>
			<choose>
				<when test="motocycleNo != 0">
					#{motocycleNo}
				</when>
				<when test="motocycleNo == 0">
					NULL
				</when>
			</choose>		    
		)
	
	</insert>
	
	<select id="selectPaymentByUid" parameterType="string" resultMap="paymentResultMap">
		SELECT 
			P_NO,
			P_UID,
			P_NAME,
			P_METHOD,
			P_DATE,
			P_TOT_PRICE,
			P_FIN_PRICE,
			P_STATUS,
			M_NO,
			C_NO,
			MC_NO
		FROM PAYMENT
		WHERE P_UID = #{uid}
	</select>
	
	<insert id="insertReservation" parameterType="Reservation" useGeneratedKeys="true" keyProperty="no" keyColumn="R_NO">
		INSERT INTO RESERVATION (
			R_NO,
			RENT_DATE,
			RETURN_DATE,
			S_NO,
			C_NO,
			MC_NO,
			R_STATUS,
			P_UID,
			M_NO
		) VALUES(
			SEQ_RESERVATION_R_NO.NEXTVAL,
			#{rentdate},
			#{returndate},
			#{sno},
			<choose>
				<when test="cno != 0">
					#{cno},
				</when>
				<when test="cno == 0">
					NULL,
				</when>
			</choose>
			<choose>
				<when test="mcno != 0">
					#{mcno},
				</when>
				<when test="mcno == 0">
					NULL,
				</when>
			</choose>
			DEFAULT,
			#{puid},
			#{mno}
		)
		
	</insert>
	
	<select id="findReservationByUid" parameterType="string" resultMap="reservationResultMap">
		SELECT
			R_NO,
			RENT_DATE,
			RETURN_DATE,
			S_NO,
			C_NO,
			MC_NO,
			R_STATUS,
			P_UID,
			M_NO
		FROM RESERVATION
		WHERE P_UID = #{uid}
	
	</select>
	
<!-- 	오현   -->
		<sql id="paymentListSql">
 	
 	SELECT 
		    P_NO,
		    P_UID,
		    P_NAME,
		    P_METHOD,
		    P_DATE,
		    P_TOT_PRICE,
		    P_FIN_PRICE,
		    P_STATUS,
		    M_NO,
		    C_NO,
		    MC_NO
         
 	 FROM PAYMENT P
	 WHERE P_STATUS = 'N'
 	</sql>

	
	 <select id="selecPaymentCount" resultType="_int">
      SELECT COUNT(*) FROM PAYMENT
   </select>
	
	   <select id="selectAll" resultMap="paymentResultMap">
      <include refid="paymentListSql"/>
      ORDER BY P_NO DESC
   </select>
	

</mapper>