<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ta.orderby.rent.model.mapper.CarMapper">
	<sql id="carListSql">
		SELECT C_NO,
		       C_NAME,
		       C_MILE,
		       C_KM,
		       C_CC,
		       C_YEAR,
		       C_ENGINE,
		       C_BRAND,
		       C_FUEL,
		       C_PRICE,
		       C_POSITION,
		       C_STATUS,
		       C_SALE,
		       S_NO,
		       C.PF_NO,
		       C_COUNT,
		       C_ENROLL_DATE
		FROM CAR C
		INNER JOIN PFILE PF ON (C.PF_NO = PF.PF_NO)
	</sql>

	<resultMap id="carListResultMap" type="Car">
		<id property="no" column="C_NO"/>
		<result property="name" column="C_NAME"/>
		<result property="mile" column="C_MILE"/>
		<result property="km" column="C_KM"/>
		<result property="cc" column="C_CC"/>
		<result property="year" column="C_YEAR"/>
		<result property="engine" column="C_ENGINE"/>
		<result property="brand" column="C_BRAND"/>
		<result property="fuel" column="C_FUEL"/>
		<result property="price" column="C_PRICE"/>
		<result property="position" column="C_POSITION"/>
		<result property="status" column="C_STATUS"/>
		<result property="sale" column="C_SALE"/>
		<result property="sno" column="S_NO"/>
		<result property="pfno" column="PF_NO"/>
		<result property="count" column="C_COUNT"/>
		<result property="enrolldate" column="C_ENROLL_DATE"/>
	</resultMap>

	<select id="selectCarAll" resultMap="carListResultMap">
		<include refid="carListSql"/>
		WHERE C_STATUS = 'Y'
	</select>
	
	<select id="selectAllByDateStore" parameterType="map" resultMap="carListResultMap">
		SELECT  C_NO,
		        C_NAME,
		        C_MILE,
		        C_KM,
		        C_CC,
		        C_YEAR,
		        C_ENGINE,
		        C_BRAND,
		        C_FUEL,
		        C_PRICE,
		        C_POSITION,
		        C_STATUS,
		        C_SALE,
		        S_NO,
		        PF_NO,
		        C_COUNT,
		        C_ENROLL_DATE
		FROM CAR
		WHERE C_STATUS = 'Y'
		    AND S_NO = #{sNo}
		    
		MINUS
		
		SELECT  C_NO,
		        C_NAME,
		        C_MILE,
		        C_KM,
		        C_CC,
		        C_YEAR,
		        C_ENGINE,
		        C_BRAND,
		        C_FUEL,
		        C_PRICE,
		        C_POSITION,
		        C_STATUS,
		        C_SALE,
		        S_NO,
		        PF_NO,
		        C_COUNT,
		        C_ENROLL_DATE
		FROM CAR
		WHERE C_STATUS = 'Y'
		    AND S_NO = #{sNo}
		    AND C_NO IN (
		        SELECT C_NO
		        FROM RESERVATION
		        WHERE (RENT_DATE, RETURN_DATE, C_NO) IN (
		            SELECT RENT_DATE, RETURN_DATE, C_NO
		            FROM RESERVATION
					<![CDATA[WHERE RENT_DATE < #{returnDate} AND RETURN_DATE > #{rentDate}]]>
					)
				)
	</select>
</mapper>