*{
    /* border: 1px solid; */
}

.signup_btn_wrap button[disabled] {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

body {
    background-color: #f5f6f7;
    width: 350px;
    margin: auto;
}
select {
    width:85px;
    height:25px;
    outline: none;
    background: #f5f6f7;
    border: 1px solid #999;
}
a {
    color: black;
    text-decoration: none;
}
input {
    cursor: pointer
}

/* 박스아래 조건문 */
.msgInvalId, .YYMMDD, .successEmailChk {
    /* border: 1px solid; */
    margin-top: 5px;
    font-size: 12px;
    text-align: left;
}

/* 회원가입 */
.mainEnroll {
    /* text-align: center; */
    width: 350px;
    /* margin: auto; */
}
h3 {
    margin:19px 0px 8px;
    text-align: left;
    font-size: 14px;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
/* 인풋박스 */
.signupInput {
    display:flex;
    height: 50px;
    width: 350px;
    /* border: solid 1px #8491a7; */
    /* background: #fff; */
    cursor: pointer;
    justify-content: space-between;
}

/* 중복확인 버튼박스 */
.bnum_btn_wrap {
    height: 50px;
    line-height: 50px;
    margin: 0px 0px 0px 10px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #203050;
    color: #fff;
    cursor: pointer;
}
/* 중복확인 버튼 */
#bnum_btn {
    width: 75px;
    background-color: #203050;
    border: none;
    color:#fff;
    font-size: 15px;
    outline:none;
    cursor: pointer;
}

#memberId, #memberName, #memberPhone {
    width: 350px;
    border: none;
    border: solid 1px #8491a7;
}
.memberEmail {
    display:flex;
    height: 50px;
    cursor: pointer;
    justify-content: space-between;
}
#memberEmail {
    width: 100%;
    height: 48px;
    border: solid 1px #8491a7;
}

#memberPwd1, #memberPwd2 {
    flex: 1;
    /* border: none; */
    border: solid 1px #8491a7;
    /* background: #fff; */
    cursor: pointer;
}
.lockBox {
    display: flex;
    /* justify-content: space-between; */
    height: 50px;
    width: 350px;
    /* border: solid 1px #8491a7; */
    border: none;
}

/* 인증번호 */
.signupInput_c {
    display:flex;
    /* justify-content: space-between; */
    margin: 10px 0px 10px 0px;
    height: 50px;
    /* padding: 10px; */
    border: solid 1px #8491a7;
    background: #f5f6f7;
    cursor: pointer;
}
.signupInput_c input {
    background: #f5f6f7;
}

.signupAt {
    color: rgb(150, 150, 150);
    font-size: 15px;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    margin-top: 8px;
    border: 10px solid;
}

/* 비밀번호 숫자 확인하기 돋보기 */
.pwdLock {
    /* content: ''; */
    /* display: inline-block; */
    top: 50%;
    right: 13px;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    margin-left: 10px;
    /* background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png); */
    background-size: 125px 75px;
    cursor: pointer;
}
.pwddLock {
    /* content: ''; */
    /* display: inline-block; */
    top: 50%;
    right: 13px;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    margin-left: 10px;
    /* background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png); */
    background-size: 125px 75px;
    cursor: pointer;
}

.YYMMDD {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

#memberBirthMM {
    width: 110px;
    border: none;
    outline:none;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px #8491a7;
}
#memberBirthYY, #memberBirthDD {
    width: auto;
    width: 110px;
    height: 46px;
    border: none;
    outline:none;
    /* margin: 0; */
    border: solid 1px #8491a7;
}

/* 주소 영역 */
.ADD0 {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 345px;
}
.ADD {
    display: flex;
    width: 500px;
}

.address1 {
    height: 48px;
    width: 235px;
    border: solid 1px #8491a7;
    justify-content: space-between;
}
.addressBtn {
    width: 100px;
    margin-left: 10px;
    background-color: #203050;
    border: none;
    color:#fff;
    font-size: 15px;
    outline:none;
    cursor: pointer;
    
}
.address2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.address2, .address3 {
    width: 100%;
    height: 48px;
    border: solid 1px #8491a7;
}

/* 성별, 인증번호 */
#genderSelectBox, #memberCnum {
    width:100%;
    border: none;
    outline:none;
}
#genderSelectBox {
    border: solid 1px #8491a7;
}

#genderSelectBox {
    background-color: white;
    height: 50px;
}
#memberCountry {
    background-color: white;
}
#memberBirthYY, #memberBirthMM, #memberBirthDD {
    background-color: white;
    height: 50px;
}
/*본인 확인 이메일*/
.choice {
    display: flex;
    justify-content: space-between;
}
.choice span {
    margin-top: 20px;
    color: rgb(255, 0, 0);
    font-size: 13px;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
/*회원가입버튼박스*/
.signup_btn_wrap {
    height: 52px;
    line-height: 55px;
    margin: 10px 0px 50px 0px;
    text-align: center;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #203050;
    color: #fff;
    cursor: pointer;
}

/*회원가입버튼*/
#signup_btn {
    width:100px;
    background-color: #203050;
    border: none;
    color:#fff;
    font-size: 18px;
    outline:none;
    cursor: pointer;
}

/* 버튼 비활성화시 불투명도 */
/* .signup_btn_wrap, #signup_btn {
    opacity: 0.6;
    cursor: not-allowed;
} */


/*인증번호버튼박스*/
.cnum_btn_wrap {
    height: 50px;
    line-height: 50px;
    margin: 0px 0px 0px 10px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #203050;
    color: #fff;
    cursor: pointer;
}
/*인증번호버튼*/
#cnum_btn {
    width:100px;
    background-color: #203050;
    border: none;
    color:#fff;
    font-size: 15px;
    outline:none;
    cursor: pointer;
}

/* 인증번호를 입력해주세요 박스 */
.memberCnum {
    margin-top: 10px;
    display:flex;
    height: 50px;
    cursor: pointer;
    justify-content: space-between;
}
#memberCnum {
    width: 100%;
    height: 48px;
    border: solid 1px #8491a7;
    background-color: #f5f6f7;
}

/*인증번호 확인 버튼박스*/
.cnum_btn_wrap2 {
    height: 50px;
    line-height: 50px;
    margin: 0px 0px 0px 10px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #203050;
    color: #fff;
    cursor: pointer;
}
/*인증번호 확인 버튼박스*/
#cnum_btn2 {
    width:100px;
    background-color: #203050;
    border: none;
    color:#fff;
    font-size: 15px;
    outline:none;
    cursor: pointer;
}

/* .signupInput:focus, */
#memberBirthMM:focus,
#memberName:focus,
#memberId:focus,
/* .lockBox:focus, */
#memberPwd1:focus,
#memberPwd2:focus,
#memberPhone:focus,
#memberEmail:focus,
#memberBirthYY:focus,
#memberBirthDD:focus,
#genderSelectBox:focus {
    outline: 2px solid #2d65f2;
    border-color: 2px solid #2d65f2;
    /* margin: 0px; */
}


div.main i {
    position: absolute;
    left: 75%;
    top: 27px;
    color: orange;
}








/* 약관동의 */
#joinForm {
	width: 350px;
	margin: 0 auto;
}
.join_box {
	border: 1px solid #8491a7;
	background-color: #fff;
	padding: 0;
}
.checkBox, .checkBox > ul {
	position: relative;
	list-style: none;
}
.checkBox>ul>li {
	float: left;
	list-style: none;
	box-sizing: border-box;
}
.checkBox>ul>li:first-child {
	width: 85%;
	padding: 15px;
	font-size: 15px;
	font-weight: 600;
}
.checkBox>ul>li:nth-child(2) {
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -12px;
}
.checkBox textarea {
	width: 96%;
	height: 90px;
	margin: 0 2%;
	background-color: #f7f7f7;
	font-size: 11px;
	color: gray;
	border: none;
	resize: none;
}
.footBtwrap {
	margin-top: 15px;
}
.footBtwrap>li {
	float: left;
	width: 50%;
	height: 60px;
	list-style: none;
}
.footBtwrap>li>button {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
}
.clearfix {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;clear: both;
}
ul {
	position: relative;
	list-style: none;
}








