<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ta.orderby.car.model.mapper.CarMapper">

	<resultMap id="carResultMap" type="Car">
		<id property="no" column="C_NO" />
		<result property="name" column="C_NAME" />
		<result property="mile" column="C_MILE" />
		<result property="km" column="C_KM" />
		<result property="cc" column="C_CC" />
		<result property="year" column="C_YEAR" />
		<result property="engine" column="C_ENGINE" />
		<result property="brand" column="C_BRAND" />
		<result property="fuel" column="C_FUEL" />
		<result property="price" column="C_PRICE" />
		<result property="position" column="C_POSITION" />
		<result property="status" column="C_STATUS" />
		<result property="sale" column="C_SALE" />
		<result property="storeNo" column="S_NO" />
		<result property="pFileNo" column="PF_NO" />
		<result property="pFileNo" column="C_COUNT" />
		<result property="enrollDate" column="C_ENROLL_DATE" />
	</resultMap>

	<select id="findCarByName" parameterType="string" resultMap="carResultMap">
		SELECT C_NO,
    		C_NAME,
    		C_MILE,
    		C_KM,
    		C_CC,
    		C_YEAR,
    		C_ENGINE,
    		C_BRAND,
    		C_FUEL,
    		C_PRICE,
    		C_POSITION,
    		C_STATUS,
    		C_SALE,
    		S_NO,
    		PF_NO,	
    		C_COUNT,
    		C_ENROLL_DATE 
		FROM CAR
		WHERE C_NAME = #{name}
	</select>
	
	<select id="findCarBySale" resultMap="carResultMap">
		SELECT C_NO,
    		C_NAME,
    		C_MILE,
    		C_KM,
    		C_CC,
    		C_YEAR,
    		C_ENGINE,
    		C_BRAND,
    		C_FUEL,
    		C_PRICE,
    		C_POSITION,
    		C_STATUS,
    		C_SALE,
    		S_NO,
    		PF_NO,	
    		C_COUNT,
    		C_ENROLL_DATE 
		FROM CAR
		WHERE C_SALE = 'S'
	</select>
	
    <select id="findCarByNo" parameterType="_int" resultMap="carResultMap">
        SELECT C_NO,
            C_NAME,
            C_MILE,
            C_KM,
            C_CC,
            C_YEAR,
            C_ENGINE,
            C_BRAND,
            C_FUEL,
            C_PRICE,
            C_POSITION,
            C_STATUS,
            C_SALE,
            S_NO,
            PF_NO,    
            C_COUNT,
            C_ENROLL_DATE 
        FROM CAR
        WHERE C_NO = #{carNo}
        
    </select>
    
    <!-- 소현 메퍼 -->
    <select id="selectCarAll" resultMap="carResultMap">
		SELECT C_NO,
		       C_NAME,
		       C_MILE,
		       C_KM,
		       C_CC,
		       C_YEAR,
		       C_ENGINE,
		       C_BRAND,
		       C_FUEL,
		       C_PRICE,
		       C_POSITION,
		       C_STATUS,
		       C_SALE,
		       S_NO,
		       PF_NO,
		       C_COUNT,
		       C_ENROLL_DATE
		FROM CAR C
		WHERE C_STATUS = 'Y'
	</select>
	
	<select id="selectAllByDateStore" parameterType="map" resultMap="carResultMap">
		SELECT  C_NO,
		        C_NAME,
		        C_MILE,
		        C_KM,
		        C_CC,
		        C_YEAR,
		        C_ENGINE,
		        C_BRAND,
		        C_FUEL,
		        C_PRICE,
		        C_POSITION,
		        C_STATUS,
		        C_SALE,
		        S_NO,
		        PF_NO,
		        C_COUNT,
		        C_ENROLL_DATE
		FROM CAR
		WHERE C_STATUS = 'Y' AND S_NO = #{sNo}
		    
		MINUS
		
		SELECT  C_NO,
		        C_NAME,
		        C_MILE,
		        C_KM,
		        C_CC,
		        C_YEAR,
		        C_ENGINE,
		        C_BRAND,
		        C_FUEL,
		        C_PRICE,
		        C_POSITION,
		        C_STATUS,
		        C_SALE,
		        S_NO,
		        PF_NO,
		        C_COUNT,
		        C_ENROLL_DATE
		FROM CAR
		WHERE C_STATUS = 'Y'
		    AND S_NO = #{sNo}
		    AND C_NO IN (
		        SELECT C_NO
		        FROM RESERVATION
		        WHERE (RENT_DATE, RETURN_DATE, C_NO) IN (
		            SELECT RENT_DATE, RETURN_DATE, C_NO
		            FROM RESERVATION
					<![CDATA[WHERE RENT_DATE < #{returnDate} AND RETURN_DATE > #{rentDate}]]>
					)
				)
	</select>
	
	<select id="findCarByNameAndStoreNo" parameterType="map" resultMap="carResultMap">
		SELECT C_NO,
		       C_NAME,
		       C_MILE,
		       C_KM,
		       C_CC,
		       C_YEAR,
		       C_ENGINE,
		       C_BRAND,
		       C_FUEL,
		       C_PRICE,
		       C_POSITION,
		       C_STATUS,
		       C_SALE,
		       S_NO,
		       PF_NO,
		       C_COUNT,
		       C_ENROLL_DATE
		FROM CAR C
		WHERE C_STATUS = 'Y' AND S_NO = #{storeNo} AND C_NAME = #{carName} 
	</select>
	
	<select id="selectAllByDateStoreBrand" parameterType="map" resultMap="carResultMap">
      SELECT  C_NO,
              C_NAME,
              C_MILE,
              C_KM,
              C_CC,
              C_YEAR,
              C_ENGINE,
              C_BRAND,
              C_FUEL,
              C_PRICE,
              C_POSITION,
              C_STATUS,
              C_SALE,
              S_NO,
              PF_NO,
              C_COUNT,
              C_ENROLL_DATE
      FROM CAR
      WHERE C_STATUS = 'Y' AND S_NO = #{sNo} AND C_BRAND = #{brand}
          
      MINUS
      
      SELECT  C_NO,
              C_NAME,
              C_MILE,
              C_KM,
              C_CC,
              C_YEAR,
              C_ENGINE,
              C_BRAND,
              C_FUEL,
              C_PRICE,
              C_POSITION,
              C_STATUS,
              C_SALE,
              S_NO,
              PF_NO,
              C_COUNT,
              C_ENROLL_DATE
      FROM CAR
      WHERE C_STATUS = 'Y'
          AND S_NO = #{sNo}
          AND C_NO IN (
              SELECT C_NO
              FROM RESERVATION
              WHERE (RENT_DATE, RETURN_DATE, C_NO) IN (
                  SELECT RENT_DATE, RETURN_DATE, C_NO
                  FROM RESERVATION
               <![CDATA[WHERE RENT_DATE < #{returnDate} AND RETURN_DATE > #{rentDate}]]>
               AND R_STATUS = 'Y'
               )
            )
   </select>
	
	<resultMap id="motoResultMap" type="AdminProductMotocycle">
		<id property="no" column="MC_NO"/>
		<result property="name" column="MC_NAME"/>
		<result property="brand" column="MC_BRAND"/>
		<result property="engine" column="MC_ENGINE"/>
		<result property="cc" column="MC_CC"/>
		<result property="output" column="MC_OUTPUT"/>
		<result property="torque" column="MC_TORQUE"/>
		<result property="fuel" column="MC_FUEL"/>
		<result property="year" column="MC_YEAR"/>
		<result property="km" column="MC_KM"/>
		<result property="price" column="MC_PRICE"/>
		<result property="position" column="MC_POSITION"/>
		<result property="status" column="MC_STATUS"/>
		<result property="sale" column="MC_SALE"/>
		<result property="sno" column="S_NO"/>
		<result property="pfno" column="PF_NO"/>
		<result property="count" column="MC_COUNT"/>
		<result property="enrolldate" column="MC_ENROLL_DATE"/>
	</resultMap>
	
		<select id="findMotoBySale" resultMap="motoResultMap">
		SELECT  MC_NO,
				MC_NAME,
				MC_BRAND,
				MC_ENGINE,
				MC_CC,
				MC_OUTPUT,
				MC_TORQUE,
				MC_FUEL,
				MC_YEAR,
				MC_KM,
				MC_PRICE,
				MC_POSITION,
				MC_STATUS,
				MC_SALE,
				S_NO,
				PF_NO,
				MC_COUNT,
				MC_ENROLL_DATE
		FROM MOTOCYCLE
		WHERE MC_SALE = 'S'
	</select>
	
	<select id="bestMotofind" resultMap="motoResultMap">
		SELECT * FROM 
		(
		SELECT * FROM MOTOCYCLE
		ORDER BY MC_COUNT DESC 
		)
		WHERE ROWNUM <![CDATA[<=]]> 6
	</select>
	
	<select id="bestCarfind" resultMap="carResultMap">
		SELECT * FROM 
		(
		SELECT * FROM CAR
		ORDER BY C_COUNT DESC 
		)
		WHERE ROWNUM <![CDATA[<=]]> 6
	</select>
</mapper>