@charset "UTF-8";
/* 예약 / 확인 css */

#reserveTitle {
    text-align: center;
    font-size: large;
    color: black;
}

/* 자동차 모양 css */
.car-icon {
	margin: auto;
	list-style: none;
    position: relative;
    float: left;
}

#carIcon1 {
	width: 70px;
}

#carIcon2 {
	width: 70px;
    filter: opacity(0.5);
}

#carIcon3 {
	width: 70px;
    filter: opacity(0.5);
}

#navBar {
    width: 380px;
    border: 1px solid black;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

#step1 {
    position: relative;
    left: 410px;
}

#step2 {
    position: relative;
    left: 475px;
}

#step3 {
    position: relative;
    left: 565px;
}

.res-section-div {
    height: 800px;
    float: left;
    margin-top: 10px;
    /* 임시로 */
    /* border: 1px solid black; */
}

/* 예약 자동차 정보 출력 */
#sectionImg {
    margin-left: 20px;
    width: 420px;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#carName {
    text-align: center;
    font-size: 1.5em;
    height: 50px;
    background-color: darkgrey;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#carImg {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#carSpec {
    background-color: rgb(189, 189, 189);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0;
}

#carSpec>li {
    list-style: none;
}

.car-spec-title {
    padding-left: 15px;
    font-size: 1.3em;
    color: white;
}

#carSpec>li>span {
    padding-left: 160px;
    font-size: 1.2em;
}

.car-spec-price {
    padding-right: 20px;
    font-size: 2.0em;
    margin: 0px;
    text-align: right;
}

/* 예약 자동차 가격 */
#sectionScript {
    margin-left: 20px;
    width: 730px;
}

#sectionScriptContent {
    list-style: none;
    padding-left: 15px;
}

.section-script-title {
    margin-left: 40px;
    font-size: 1.5em;
}

#sectionScriptContent>table {
    padding-left: 30px;
}

#sectionScriptContent>table tr td{
    height: 50px;
}

#sectionScriptContent>table tr td:first-child{
    width: 160px;
}

#sectionScriptContent>span{
    padding-left: 30px;
    font-size: 1.5em;
}

#rentalDate {
    text-align: center;
    font-size: 3.0em;
}

/* 버튼 CSS */
#button-div {
    display: inline-block;
    margin-top: 200px;
}

/* Common button styles */
.button {
    float: left;
    min-width: 400px;
    max-width: 500px;
    display: block;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    -moz-osx-font-smoothing: grayscale;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
    font-size: 1.5em;
}

.button--round-s {
    border-radius: 5px;
}

.button--border-thin {
    border: 1px solid;
}

.button.button--aylen {
    background: #fff;
    color: #37474f;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.button--aylen.button--inverted {
    background: none;
    color: #fff;
}
.button--aylen::before,
.button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
    background: #a7a7a7;
}
.button--aylen::after {
    background: #1b1b1b;
}
.button--aylen:hover {
    color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}

