@charset "UTF-8";

/* 완료 css */
#sucTitle {
    text-align: center;
    font-size: large;
    color: black;
}

/* 자동차 아이콘 css */
#carIcon {
	position: relative;
	margin: auto;
	width: 600px;
	height: 60px;
	text-align: center;
}

#navBar {
	position: absolute;
    width: 380px;
    left: 18%;
    bottom: 50%;
    border: 1px solid black;
} 

.car-icon {
	list-style: none;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}

#carIcon1 {
	width: 70px;
	filter: opacity(0.3);
}

#carIcon2 {
	width: 70px;
	filter: opacity(0.3);
}

#carIcon3 {
	width: 70px;
}

#step {
	text-align: center;
}

.step-list {
	list-style: none;
	display: inline-block;
}

.step {
	display: inline-block;
	color: black;
}

.success-container {
	text-align: center;
	width: 800px;
	margin: auto;
}

#successContainer1 {
	height: 100px;
}

#successContainer1>h2 {
	text-align: center;
	padding-top: 25px;
	font-size: 2em;
}

#productName {
	font-size: 1.5em;
	color: white;
	background-color: #304050;
	height: 40px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

#productImg {
	background-color: white;
	border-radius: 10px;
}

#successContainer3 {
	text-align: center;
    width: 800px;
    margin: auto;
    background-color: #304050;
    border-radius: 10px;
}
#rentInfo {
    border-bottom: 2px solid white;
    height: 40px;
    font-size: 1.3em;
    padding-top: 20px;
    color: white;
}

#successContainer3>div>ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

#successContainer3>div>ul>li {
	width: 500px;
	margin: auto;
}

.rent-info-table tr {
	height: 70px;
}

.rent-info-table tr th {
	width: 300px;
}

/* 버튼 CSS */
#button-div {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

#button-div>ul {
	list-style: none;
}

.button-list {
	float: left;
	padding: 0px 15px;
}

/* Common button styles */
.button {
    float: left;
    min-width: 400px;
    max-width: 500px;
    display: block;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    -moz-osx-font-smoothing: grayscale;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
    font-size: 1.5em;
}

.button--round-s {
    border-radius: 5px;
}

.button--border-thin {
    border: 1px solid;
}

.button.button--aylen {
    background: #fff;
    color: #37474f;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.button--aylen.button--inverted {
    background: none;
    color: #fff;
}
.button--aylen::before,
.button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
    background: #a7a7a7;
}
.button--aylen::after {
    background: #1b1b1b;
}
.button--aylen:hover {
    color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}

