<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ta.orderby.admin.model.mapper.AdminMapper">
	<sql id="selectadminmembersql">
		SELECT M_NO,
       		   M_ID,
		       M_PASSWORD,
		       M_NAME,
		       M_BIRTH,
		       M_EMAIL,
		       M_PHONE,
		       M_GENDER,
		       M_ADDRESS,
		       M_DETAIL_ADD,
		       M_POINT,
		       M_ROLE,
		       M_ENROLL_DATE,
		       M_MODIFY_DATE,
		       M_STATUS,
		       M_CNUM,
		       M_PCOUNT,
		       M_VERIFIED
		FROM MEMBER
	</sql>
	
		<resultMap id="AdminMemberResultMap" type="AdminMember">
		<id property="no" column="M_NO"/>
		<result property="id" column="M_ID"/>
		<result property="password" column="M_PASSWORD"/>
		<result property="name" column="M_NAME"/>
		<result property="birth" column="M_BIRTH"/>
		<result property="email" column="M_EMAIL"/>
		<result property="phone" column="M_PHONE"/>
		<result property="gender" column="M_GENDER"/>
		<result property="address" column="M_ADDRESS"/>
		<result property="detailAdd" column="M_DETAIL_ADD"/>
		<result property="point" column="M_POINT"/>
		<result property="role" column="M_ROLE"/>
		<result property="enrollDate" column="M_ENROLL_DATE"/>
		<result property="modifyDate" column="M_MODIFY_DATE"/>
		<result property="status" column="M_STATUS"/>
		<result property="cnum" column="M_CNUM"/>
		<result property="pcount" column="M_PCOUNT"/>
		<result property="verified" column="M_VERIFIED"/>
	</resultMap>
	
	
	<select id="selectAdminMemberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE M_STATUS='Y' OR M_STATUS='N'
	</select>
	
	<select id="selectAll" resultMap="AdminMemberResultMap">
		<include refid="selectadminmembersql"/>
		WHERE M_STATUS='Y' OR M_STATUS='N' ORDER BY M_NO DESC
	</select>
	
	<select id="selectAdminMemberByNo" parameterType="_int" resultMap="AdminMemberResultMap">
		SELECT * FROM MEMBER WHERE M_NO = #{no}
	</select>
	
	<update id="updateMemberStatus" parameterType="map">
		UPDATE MEMBER SET M_STATUS = #{status} WHERE M_NO = #{no}	
	</update>
	
	<update id="activeMemberStatus" parameterType="map">
		UPDATE MEMBER SET M_STATUS = #{status} WHERE M_NO = #{no}	
	</update>

	<update id="updateAdminMember" parameterType="AdminMember">
		UPDATE MEMBER
		SET	
			M_ID = #{id},
			M_PASSWORD = #{password},
			M_NAME = #{name},
			M_POINT = #{point},
			M_ROLE = #{role},
			M_BIRTH = #{birth},
			M_PHONE = #{phone},
			M_EMAIL = #{email},
			M_ADDRESS = #{address},
			M_DETAIL_ADD = #{detailAdd}
		WHERE M_NO = #{no}
	</update>
	
		<sql id="selectpopqnasql">
		 SELECT POP_NO,
				POP_NAME,
				POP_EMAIL,
				POP_PHONE,
				POP_CONTENT,
				POP_DATE,
				POP_STATUS
		FROM POPQNA
	</sql>
	
	<resultMap id="popqnaResultMap" type="AdminPopqna">
		<id property="no" column="POP_NO"/>
		<result property="name" column="POP_NAME"/>
		<result property="email" column="POP_EMAIL"/>
		<result property="phone" column="POP_PHONE"/>
		<result property="content" column="POP_CONTENT"/>
		<result property="enrolldate" column="POP_DATE"/>
		<result property="status" column="POP_STATUS"/>
	</resultMap>
	
	<select id="selectPopqnaCount" resultType="_int">
		SELECT COUNT(*) FROM POPQNA WHERE POP_STATUS = '답변대기' OR POP_STATUS = '답변완료'
	</select>
	
	<select id="popqnaselectAll" resultMap="popqnaResultMap">
		<include refid="selectpopqnasql"/>
			 WHERE POP_STATUS = '답변대기' OR POP_STATUS = '답변완료' ORDER BY POP_NO DESC
	</select>
	
	<select id="selectPopqnaByNo" parameterType="_int" resultMap="popqnaResultMap">
		SELECT * FROM POPQNA WHERE POP_NO = #{no}
	</select>
	
		<update id="checkPopqnaStatus" parameterType="map">
		UPDATE POPQNA SET POP_STATUS = #{status} WHERE POP_NO = #{no}	
	</update>
	
		<sql id="selectcarproductsql">
		SELECT  C_NO,
				C_NAME,
				C_MILE,
				C_KM,
				C_CC,
				C_YEAR,
				C_ENGINE,
				C_BRAND,
				C_FUEL,
				C_PRICE,
				C_POSITION,
				C_STATUS,
				C_SALE,
				S_NO,
				C_COUNT,
				C_ENROLL_DATE,
				PF_NO
		FROM CAR
	</sql>
	
	<resultMap id="AdminCarResultMap" type="AdminProductCar">
		<id property="no" column="C_NO"/>
		<result property="name" column="C_NAME"/>
		<result property="mile" column="C_MILE"/>
		<result property="km" column="C_KM"/>
		<result property="cc" column="C_CC"/>
		<result property="year" column="C_YEAR"/>
		<result property="engine" column="C_ENGINE"/>
		<result property="brand" column="C_BRAND"/>
		<result property="fuel" column="C_FUEL"/>
		<result property="price" column="C_PRICE"/>
		<result property="position" column="C_POSITION"/>
		<result property="status" column="C_STATUS"/>
		<result property="sale" column="C_SALE"/>
		<result property="sno" column="S_NO"/>
		<result property="count" column="C_COUNT"/>
		<result property="enrolldate" column="C_ENROLL_DATE"/>
		<result property="pfno" column="PF_NO"/>
	</resultMap>
	
	<select id="selectAdminCarCount" resultType="_int">
		SELECT COUNT(*) FROM CAR WHERE C_STATUS='Y'
	</select>
	
	<select id="productcarselectAll" resultMap="AdminCarResultMap">
		<include refid="selectcarproductsql"/>
			 WHERE C_STATUS = 'N' OR C_STATUS = 'Y' ORDER BY C_NO DESC
	</select>
	
	<select id="selectCarProductNo" parameterType="_int" resultMap="AdminCarResultMap">
		SELECT * FROM CAR WHERE C_NO = #{no}
	</select>
	
	<update id="updateCarproductStatus" parameterType="map">
		UPDATE CAR SET C_STATUS = #{status} WHERE C_NO = #{no}	
	</update>

	<update id="activeCarStatus" parameterType="map">
		UPDATE CAR SET C_STATUS = #{status} WHERE C_NO = #{no}	
	</update>
	
	<select id="productcardisselectAll"  resultMap="AdminCarResultMap">
		SELECT C_NAME, C_BRAND, C_PRICE, C_CC, C_YEAR FROM CAR GROUP BY C_NAME, C_BRAND, C_PRICE, C_CC, C_YEAR ORDER BY C_BRAND
	</select>
	
	<update id="updateProductCar" parameterType="AdminProductCar">
	UPDATE CAR
		SET	
			C_NAME = #{name},
			C_BRAND = #{brand},
			C_ENGINE = #{engine},
			C_CC = #{cc},
			C_FUEL = #{fuel},
			C_PRICE = #{price},
			C_POSITION = #{position},
			C_KM = #{km},
			C_SALE = #{sale}
		WHERE C_NO = #{no}
	</update>
	
	<insert id="insertProductCar" parameterType="AdminProductCar">
		INSERT INTO CAR (
			 	C_NO,
				C_NAME,
				C_MILE,
				C_KM,
				C_CC,
				C_YEAR,
				C_ENGINE,
				C_BRAND,
				C_FUEL,
				C_PRICE,
				C_POSITION,
				C_STATUS,
				C_SALE,
				S_NO,
				C_COUNT,
				C_ENROLL_DATE,
				PF_NO
		)
		VALUES(
				SEQ_CAR_C_NO.NEXTVAL,
				#{procar.name},
				#{procar.mile},
				#{procar.km},
				#{procar.cc},
				#{procar.year},
				#{procar.engine},
				#{procar.brand},
				#{procar.fuel},
				#{procar.price},
				#{procar.position},
				DEFAULT,
				DEFAULT,
				#{procar.sno},
				0,
				DEFAULT,
				#{procar.pfno}
		)
	</insert>
	
	<sql id="selectmotocycleproductsql">
		SELECT  MC_NO,
				MC_NAME,
				MC_BRAND,
				MC_ENGINE,
				MC_CC,
				MC_OUTPUT,
				MC_TORQUE,
				MC_FUEL,
				MC_YEAR,
				MC_KM,
				MC_PRICE,
				MC_POSITION,
				MC_STATUS,
				MC_SALE,
				S_NO,
				PF_NO,
				MC_COUNT,
				MC_ENROLL_DATE
		FROM MOTOCYCLE
	</sql>

	
	<resultMap id="AdminMotocycleResultMap" type="AdminProductMotocycle">
		<id property="no" column="MC_NO"/>
		<result property="name" column="MC_NAME"/>
		<result property="brand" column="MC_BRAND"/>
		<result property="engine" column="MC_ENGINE"/>
		<result property="cc" column="MC_CC"/>
		<result property="output" column="MC_OUTPUT"/>
		<result property="torque" column="MC_TORQUE"/>
		<result property="fuel" column="MC_FUEL"/>
		<result property="year" column="MC_YEAR"/>
		<result property="km" column="MC_KM"/>
		<result property="price" column="MC_PRICE"/>
		<result property="position" column="MC_POSITION"/>
		<result property="status" column="MC_STATUS"/>
		<result property="sale" column="MC_SALE"/>
		<result property="sno" column="S_NO"/>
		<result property="pfno" column="PF_NO"/>
		<result property="count" column="MC_COUNT"/>
		<result property="enrolldate" column="MC_ENROLL_DATE"/>
	</resultMap>
	
	<select id="selectAdminMotocycleCount" resultType="_int">
		SELECT COUNT(*) FROM MOTOCYCLE WHERE MC_STATUS='Y'
	</select>
	
	<select id="productmotocylceselectAll" resultMap="AdminMotocycleResultMap">
		<include refid="selectmotocycleproductsql"/>
			 WHERE MC_STATUS = 'N' OR MC_STATUS = 'Y' ORDER BY MC_NO DESC
	</select>
	
	<select id="selectMotoProductNo" resultType="_int" resultMap="AdminMotocycleResultMap">
			SELECT * FROM MOTOCYCLE WHERE MC_NO = #{no}
	</select>
	
	<update id="updateMotoproductStatus" parameterType="map">
		UPDATE MOTOCYCLE SET MC_STATUS = #{status} WHERE MC_NO = #{no}	
	</update>
	
	<update id="activeMotoStatus" parameterType="map">
		UPDATE MOTOCYCLE SET MC_STATUS = #{status} WHERE MC_NO = #{no}	
	</update>
	
	<select id="productmotodiscylceselectAll" resultMap="AdminMotocycleResultMap">
		SELECT MC_NAME, MC_BRAND, MC_PRICE, MC_CC, MC_YEAR FROM MOTOCYCLE GROUP BY MC_NAME, MC_BRAND, MC_PRICE, MC_CC, MC_YEAR ORDER BY MC_BRAND
	</select>
	
	<update id="updateProductMotocycle" parameterType="AdminProductMotocycle">
		UPDATE MOTOCYCLE
		SET	
			MC_NAME = #{name},
			MC_BRAND = #{brand},
			MC_ENGINE = #{engine},
			MC_CC = #{cc},
			MC_OUTPUT = #{output},
			MC_TORQUE = #{torque},
			MC_PRICE = #{price},
			MC_POSITION = #{position},
			MC_KM = #{km},
			MC_SALE = #{sale}
		WHERE MC_NO = #{no}
	</update>
	
		<insert id="insertProductMotocycle" parameterType="AdminProductMotocycle">
		INSERT INTO MOTOCYCLE (
			 	MC_NO,
				MC_NAME,
				MC_BRAND,
				MC_ENGINE,
				MC_CC,
				MC_OUTPUT,
				MC_TORQUE,
				MC_FUEL,
				MC_YEAR,
				MC_KM,
				MC_PRICE,
				MC_POSITION,
				MC_STATUS,
				MC_SALE,
				S_NO,
				PF_NO,
				MC_COUNT,
				MC_ENROLL_DATE
		)
		VALUES(
				SEQ_MOTOCYCLE_MC_NO.NEXTVAL,
				#{promoto.name},
				#{promoto.brand},
				#{promoto.engine},
				#{promoto.cc},
				#{promoto.output},
				#{promoto.torque},
				#{promoto.fuel},
				#{promoto.year},
				#{promoto.km},
				#{promoto.price},
				#{promoto.position},
				DEFAULT,
				DEFAULT,
				#{promoto.sno},
				#{promoto.pfno},
				0,
				DEFAULT
		)
	</insert>
	
	<select id="findstoreNo" parameterType="string" resultType="_int">
		SELECT S_NO FROM STORE WHERE S_NAME = #{position}
	</select>
	
	<select id="findstoreMotoNo" parameterType="string" resultType="_int">
		SELECT S_NO FROM STORE WHERE S_NAME = #{position}
	</select>
	
	<select id="findpfileNo" parameterType="string" resultType="_int">
		SELECT PF_NO FROM PFILE WHERE PF_NAME = #{name}
	</select>
	
	<select id="findpfileMotoNo" parameterType="string" resultType="_int">
		SELECT PF_NO FROM PFILE WHERE PF_NAME = #{name}
	</select>
	<sql id="selectlocationsql">
		SELECT  S_NO,
			    S_NAME,
				S_COUNT,
				S_LOCATION,
				S_ADDRESS,
				S_LAT,
				S_LONG,
				S_STATUS
		FROM STORE
	</sql>
	
	<resultMap id="AdminStoreResultMap" type="AdminStore">
		<id property="no" column="S_NO"/>
		<result property="name" column="S_NAME"/>
		<result property="count" column="S_COUNT"/>
		<result property="location" column="S_LOCATION"/>
		<result property="address" column="S_ADDRESS"/>
		<result property="slat" column="S_LAT"/>
		<result property="slong" column="S_LONG"/>
		<result property="status" column="S_STATUS"/>
	</resultMap>
	
	<select id="selectStoreCount" resultType="_int">
		SELECT COUNT(*) FROM STORE 
	</select>

	<select id="storeselectAll" resultMap="AdminStoreResultMap">
		<include refid="selectlocationsql"/>
		WHERE S_STATUS='Y' OR S_STATUS='N' ORDER BY S_NO DESC
	</select>
	
	<select id="selectStoreByNo" parameterType="_int" resultMap="AdminStoreResultMap">
		SELECT * FROM STORE WHERE S_NO = #{no}
	</select>
	
	<update id="updateStoreStatus" parameterType="map">
		UPDATE STORE SET S_STATUS = #{status} WHERE S_NO = #{no}	
	</update>
	
	<update id="activateStoreStatus" parameterType="map">
		UPDATE STORE SET S_STATUS = #{status} WHERE S_NO = #{no}	
	</update>
	
		<update id="updateStore" parameterType="AdminStore">
		UPDATE STORE
		SET	
			S_NAME = #{name},
			S_COUNT = #{count},
			S_LOCATION = #{location},
			S_ADDRESS = #{address},
			S_LAT = #{slat},
			S_LONG = #{slong}
		WHERE S_NO = #{no}
	</update>
	
	<insert id="insertStore" parameterType="AdminStore">
	INSERT INTO STORE (
		S_NO,
		S_NAME,
		S_COUNT,
		S_LOCATION,
		S_ADDRESS,
		S_LAT,
		S_LONG,
		S_STATUS
	) 
		VALUES (
		SEQ_STORE_S_NO.NEXTVAL,
		#{name},
		#{count},
		#{location},
		#{address},
		#{slat},
		#{slong},
		DEFAULT
	)
	</insert>
	
	<select id="allproductCount" resultType="_int">
	SELECT
	(SELECT COUNT(*) FROM CAR) + 
	(SELECT COUNT(*) FROM MOTOCYCLE) FROM DUAL
	</select>
	
	<resultMap id="AdminPaymentResultMap" type="AdminPayment">
		<id property="no" column="P_NO"/>
		<result property="uid" column="P_UID"/>
		<result property="name" column="P_NAME"/>
		<result property="method" column="P_METHOD"/>
		<result property="enrollDate" column="P_DATE"/>
		<result property="totprice" column="P_TOT_PRICE"/>
		<result property="finprice" column="P_FIN_PRICE"/>
		<result property="status" column="P_STATUS"/>
		<result property="mno" column="M_NO"/>
		<result property="username" column="M_NAME"/>		
		<result property="cno" column="C_NO"/>
		<result property="mcno" column="MC_NO"/>
	</resultMap>
	
	<sql id="selectadminpaymentsql">
		 SELECT P_NO,
				P_UID,
				P_NAME,
				P_METHOD,
				P_DATE,
				P_TOT_PRICE,
				P_FIN_PRICE,
				P_STATUS,
				M_NO,
				C_NO,
				MC_NO
		FROM PAYMENT
	</sql>
	
	<select id="selectreservationCount" resultType="_int">
		SELECT COUNT(*) FROM PAYMENT 
	</select>

	<select id="reservationSelectAll" resultMap="AdminPaymentResultMap">
		 SELECT P.P_NO,
				P.P_NAME,
				P.P_METHOD,
				P.P_DATE,
				P.P_TOT_PRICE,
				P.P_STATUS,
                M.M_NAME,
				M.M_NO
		FROM PAYMENT P, MEMBER M
		WHERE P.M_NO = M.M_NO
	</select>

	<select id="selectAdminPaymentByNo" parameterType="_int" resultMap="AdminPaymentResultMap">
		SELECT P.P_NO,
				P.P_NAME,
				P.P_METHOD,
				P.P_DATE,
				P.P_TOT_PRICE,
				P.P_FIN_PRICE,
				P.P_STATUS,
                M.M_NAME,
				M.M_NO,
				M.M_POINT
		FROM PAYMENT P, MEMBER M
		WHERE P.M_NO = M.M_NO AND P.P_NO = #{no}
	</select>
	
	<update id="updatePayment" parameterType="map">
		UPDATE PAYMENT SET P_STATUS = #{status} WHERE P_NO = #{no}	
<!-- 		UPDATE PAYMENT P, MEMBER M -->
<!-- 		SET P.P_STATUS = #{status}, -->
<!-- 		    M.M_POINT = #{totprice) -->
<!-- 		    WHERE P.M_NO = #{no} -->
	</update>
	
	<update id="updatePoint">
		UPDATE MEMBER 
		SET 
		M_POINT = #{point}
		WHERE M_NO = #{mno}
	</update>
</mapper>